/* Portfolio & Resume Styles, _portfolio.scss */
#portfolio article, #resume article{
	@include borderbox;	
}
#portfolio{
	.work-details{
		padding-bottom: $emlineheight*2;
		img {
			border-width: 1em;
		}
	}
	.work-text{
		padding-right: 1.5em;
		padding-bottom: 1em;
	}
	.thumbnails{
		padding-bottom: $emlineheight; 
		h4{
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
		img{
			border: 2px solid #eee;
			transition:border .25s ease;
			&:hover{
				border-color: $blue;
			}
		}
		a{ border: none; }
		&.active img{
			border-color: $gold;
		}
	}
}
#resume{
	padding-bottom: $emlineheight;
	article ul{
		padding-left: $emfontsize*2;
	}
}
@media screen and (min-width: 768px){
	#portfolio article, #resume article{
		padding-right: $emfontsize*2;
	}
	// Experience & Education 2/3 on left, Skills 1/3 on right
	#resume article{
		&.experience{
			float: left;
			clear: left;
			width: 66.666%;
		}
		&.skills, &.education{
			float: right;
			clear: right;
			width: 33.333%;
		}
	}
}