/* Portfolio & Resume Styles, _portfolio.scss */
#portfolio article, #resume article{
	@include borderbox;	
}
#portfolio{
	img{
		border: 1px solid #eee;
	}
	article{ 
		padding-bottom: $emlineheight; 
	}
	&.detailed-portfolio{
		img {
			border-width: 1em;
		}
		article{
			padding-bottom: $emlineheight*2;
		}
	}
}
.work-text{
	padding-right: 1.5em;
	.reverse & {
		padding-right: 0;
		padding-left: 1em;
	}
}
#resume{
	padding-bottom: $emlineheight;
	article ul{
		padding-left: $emfontsize*2;
	}
}
@media screen and (min-width: 768px){
	#portfolio article, #resume article{
		padding-right: $emfontsize*2;
	}
	// Experience & Education 2/3 on left, Skills 1/3 on right
	#resume article{
		&.experience{
			float: left;
			clear: left;
			width: 66.666%;
		}
		&.skills, &.education{
			float: right;
			clear: right;
			width: 33.333%;
		}
	}
}