@media print and (max-width: 8.5in){
	#masthead {
		color:black;
	}
	
	#container-header {
		height: auto;
	}
	
	img {
		width:2in;
	}

	#portfolio article{
		float: left;
		width: 33%;
	}
	
	#container-footer	{
		clear:both;
	}
}