/* Tag Resets */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

/*! modified normalize.css | git.io/normalize */
html {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

svg:not(:root) {
  overflow: hidden; }

abbr[title] {
  border-bottom: 1px dotted; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

textarea, input[type="text"], input[type="password"] {
  border: 1px solid #ccc; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

.group {
  *zoom: 1;
  /* 3 */ }

@import url(http://fonts.googleapis.com/css?family=Dosis:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1.5em; }

p, ul, ol, dl {
  padding-bottom: 1.5em; }

table, blockquote {
  margin-bottom: 1.5em; }

a {
  color: #886c8f;
  text-decoration: none;
  border-bottom: 1px solid #886c8f; }
  a:hover {
    color: #eab32c;
    border-bottom-color: #eab32c; }

img {
  max-width: 100%; }

#nav, #masthead, #content, #contact {
  margin: 0 3%; }

@media screen and (min-width: 768px) {
  #nav, #masthead, #content, #colophone {
    margin: 0 5%; } }

h1, h2, h3 {
  font-family: 'Dosis', Arial, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 2.64286em;
  line-height: 1.13514em; }

h2 {
  display: block;
  font-size: 1.64286em;
  line-height: 1.82609em; }

h3 {
  color: #eab32c;
  display: block;
  font-size: 1.28571em;
  line-height: 1.16667em; }

h4, h5, h6 {
  font-size: 1em;
  font-weight: 400; }

h5 {
  color: #6db7df; }
  h5 span {
    color: #666;
    display: block; }

.dark-background {
  background: #352a38;
  color: #eee; }
  .dark-background a {
    color: #97CBE8;
    border-color: #97CBE8; }
    .dark-background a:hover {
      color: #eab32c;
      border-color: #eab32c; }

/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/
/*
* Lemonade Sass v1.1
* Using Sass to dynamically create a lemonade grid
* Now mobile first!
*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set the width of the grid */
.frame {
  clear: both;
  margin: 0 auto;
  position: relative; }

/* Attribute selector */
[class*='bit-'] {
  float: left;
  position: relative; }
  .reverse [class*='bit-'] {
    float: right; }

/* Floats last ".bit-" to the right */
[class*='bit-']:last-child {
  float: right; }

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both; }

[class*='bit-'] {
  width: 100%; }

@media (min-width: 30em) and (max-width: 48em) {
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 50%; }
  .bit-5 {
    width: 100%; }
  .bit-6 {
    width: 50%; }
  .bit-7 {
    width: 100%; }
  .bit-8 {
    width: 50%; }
  .bit-9 {
    width: 100%; }
  .bit-10 {
    width: 50%; }
  .bit-11 {
    width: 100%; }
  .bit-12 {
    width: 50%; } }

@media (min-width: 48em) and (max-width: 68.75em) {
  .bit-2 {
    width: 50%; }
  .bit-3 {
    width: 33.33333%; }
  .bit-4 {
    width: 50%; }
  .bit-5 {
    width: 20%; }
  .bit-6 {
    width: 16.66667%; }
  .bit-8 {
    width: 50%; }
  .bit-9 {
    width: 33.33333%; }
  .bit-10 {
    width: 20%; }
  .bit-12 {
    width: 16.66667%; } }

@media (min-width: 68.75em) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 50%; }
  .bit-3 {
    width: 33.33333%; }
  .bit-4 {
    width: 25%; }
  .bit-5 {
    width: 20%; }
  .bit-6 {
    width: 16.66667%; }
  .bit-7 {
    width: 14.28571%; }
  .bit-8 {
    width: 12.5%; }
  .bit-9 {
    width: 11.11111%; }
  .bit-10 {
    width: 10%; }
  .bit-11 {
    width: 9.09091%; }
  .bit-12 {
    width: 8.33333%; } }

@media (min-width: 48em) {
  .bit-2-3 {
    width: 66.66667%; } }

/* Nav Styles, _nav.scss */
#nav {
  padding: 0.75em 0;
  overflow: auto; }
  #nav h3 {
    display: inline-block;
    float: left;
    text-transform: capitalize; }
    #nav h3 a {
      color: #eab32c;
      border-bottom: none; }
      #nav h3 a:hover {
        color: #886c8f;
        border-bottom: 1px solid #886c8f; }
  #nav ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: 1.5em 0 0.75em; }
  #nav li {
    border-top: 1px solid #eee; }
    #nav li a {
      border-bottom: none;
      color: #333;
      display: block;
      text-decoration: none;
      padding: 0.75em 0.875em; }
      #nav li a:hover {
        background: #f8f8f8; }
  #nav nav {
    clear: both;
    height: 0;
    overflow: hidden; }

body {
  -webkit-animation: bugfix infinite ls; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }

  to {
    padding: 0; } }

#nav input[type=checkbox] {
  position: absolute;
  top: -999em;
  left: -999em; }

#nav label {
  display: block;
  cursor: pointer;
  clear: right;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#nav input[type=checkbox]:checked ~ nav {
  height: auto;
  overflow: hidden; }

@media screen and (min-width: 30em) {
  #nav {
    padding: 0; }
    #nav nav {
      clear: none; }
    #nav h3 {
      padding: 0.6em 0; }
    #nav label {
      display: none; }
    #nav nav {
      display: inline-block;
      float: right;
      height: auto;
      overflow: visible; }
    #nav ul {
      border: 0;
      margin: 0; }
    #nav li {
      display: inline;
      border: 0; }
      #nav li a {
        display: inline-block; } }

/* Header Styles, _header.scss */
#masthead {
  color: #eee;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); }

#container-header {
  background: #352a38;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  margin-bottom: 0.75em;
  width: 100%; }
  @media screen and (max-width: 480px) {
    #container-header {
      background-image: url("../img/YellowDudeFocus-s.jpg"); } }
  @media screen and (min-width: 481px) and (max-width: 886px) {
    #container-header {
      background-image: url("../img/YellowDudeFocus-m.jpg"); } }
  @media screen and (min-width: 887px) {
    #container-header {
      background-image: url("../img/YellowDudeFocus-l.jpg");
      padding: 3em 0 4.5em 0; } }

@media screen and (min-width: 768px) {
  #container-header {
    padding: 3em 0 4.5em 0; } }

/* Portfolio & Resume Styles, _portfolio.scss */
#portfolio article, #resume article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#portfolio .work-details {
  padding-bottom: 3em; }
  #portfolio .work-details img {
    border-width: 1em; }
#portfolio .work-text {
  padding-right: 1.5em;
  padding-bottom: 1em; }
#portfolio .thumbnails {
  padding-bottom: 1.5em; }
  #portfolio .thumbnails h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #portfolio .thumbnails img {
    border: 2px solid #eee;
    transition: border 0.25s ease; }
    #portfolio .thumbnails img:hover {
      border-color: #97CBE8; }
  #portfolio .thumbnails a {
    border: none; }
  #portfolio .thumbnails.active img {
    border-color: #eab32c; }

#resume {
  padding-bottom: 1.5em; }
  #resume article ul {
    padding-left: 1.75em; }

@media screen and (min-width: 768px) {
  #portfolio article, #resume article {
    padding-right: 1.75em; }
  #resume article.experience {
    float: left;
    clear: left;
    width: 66.666%; }
  #resume article.skills, #resume article.education {
    float: right;
    clear: right;
    width: 33.333%; } }

#container-footer {
  padding: 1em 0; }

.tinytext {
  font-size: 0.78571em;
  line-height: 1.90909em; }

@media print and (max-width: 8.5in) {
  #masthead {
    color: black; }
  #container-header {
    height: auto; }
  img {
    width: 2in; }
  #portfolio article {
    float: left;
    width: 33%; }
  #container-footer {
    clear: both; }
  #contact {
    display: none; } }

/* IE Fixes, _iefix.scss */
.ie .name, .ie .email, .ie input, .ie textarea {
  *behavior: url("http://www.jenpierce.com/test/aquentresponsive/js/boxsizing.htc"); }

/*
.ie #portfolio figure {
    width: 100%;
    box-sizing: border-box;
    }
.ie #portfolio figure {
    *width: auto;
    }
*/
#nav input[type=checkbox].checked ~ nav {
  height: auto;
  overflow: visible; }

.ie #nav nav {
  *height: auto;
  *overflow: visible; }

/*
.ie #nav label { 
    *background: none;
    }
*/
@media screen and (min-width: 60em) {
  .ie .message textarea {
    *width: 49.9%; }
  .ie .send {
    *margin-left: 46.7%; } }
