// Normalize and Fixes
@import "_normalize";
@import "_clearfix";

// Font Imports
@import url(http://fonts.googleapis.com/css?family=Dosis:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Mixins
@mixin DosisLight {
	font: {
    family: 'Dosis', Arial, sans-serif;
    weight: 300;
  }
}
@mixin LatoLight{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 300;
	}
}
@mixin LatoRegular{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 400;
	}
}
@mixin borderradius($size){
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size;
}
@mixin borderbox{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Colors 
$purple: #352a38;
$yellow: #ffe147;
$blue: #97CBE8;
$dkblue: #384851;
$offwhite: #eee;
$gold: #eab32c;

// Font Sizes
$pxfontsize: 14px;
$pxlineheight: 21px;
@function em($px, $base: $pxfontsize) { // Default should be the font size we want
	@return ($px / $base) * 1em;
}
@function lineheight($rows, $base: $pxlineheight) {
	@return em($rows*$pxlineheight, $base);
}
$emfontsize: em($pxfontsize,16px); // Requires the browser default 16px as a base
$emlineheight: em($pxlineheight);

// Basic Styles
body{
	@include LatoLight;
	font-size: $emfontsize; // Font size default
	line-height: $emlineheight; // Line height defult
}
p, ul, ol, dl{ 
	padding-bottom: $emlineheight; 
}
table, blockquote{
	margin-bottom: $emlineheight;
}
a{
	color: lighten($purple,30%);
	text-decoration: none;
	border-bottom: 1px solid lighten($purple,30%);
	&:hover{
		color: $gold;
		border-bottom-color: $gold;
	}
}
figure a{ border: none; }
img{
	max-width: 100%;
}
ul.padding{
	padding-left: $emfontsize*2;
}
@media (min-width: 60em) {
	body{
		margin: 0 8%;
	} 
}

// Headers
h1, h2, h3{
	@include DosisLight;
}
h1{ // 37px recommended
	font-size: em(37px);
	line-height: lineheight(2,37px);
}
h2{ // 23px recommended
	display: block;
	font-size: em(23px);
	line-height: lineheight(2,23px);
}
h3{ // 18px recommended
	color: $gold;
	display: block;
	font-size: em(18px);
	line-height: lineheight(1,18px);
}
h4, h5, h6{ 
	font-size: 1em; 
	font-weight: 400;
}
h5{
	color: darken($blue,10%);
	span{
		color: #666;
		display: block;
	}
}

.floatleft{
	float: left;
	margin: 0 $emfontsize $emlineheight 0;
	max-width: 100%;
}
.floatright{
	float: right;
	margin: 0 0 $emlineheight $emfontsize; 
	max-width: 100%;
}

// Light/Dark Switch
.dark{
	background: $purple;
	color: #eee;
	a{
		color: $blue;
		border-bottom-color: $blue;
		&:hover{
			color: $gold;
			border-bottom-color: $gold;
		}
	}
}

.frame{
	padding-top: $emlineheight;
	padding-bottom: $emlineheight;
	padding-left: $emfontsize;
	padding-right: $emfontsize;
}
[class*='bit-'] {
	padding-right: $emfontsize*2;
	padding-bottom: $emlineheight;
}
[class*='bit-']:last-child{
	padding-right: 0;
}
@import "_lemonade";
@import "_iefix";

.nopadding{
	padding: 0;
}