// Normalize and Fixes
@import "_normalize";
@import "_clearfix";
@import "_lemonade";
body{
	color: black;
}
// Font Imports
@import url(http://fonts.googleapis.com/css?family=Dosis:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Mixins
@mixin DosisLight {
	font: {
    family: 'Dosis', Arial, sans-serif;
    weight: 300;
  }
}
@mixin LatoLight{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 300;
	}
}
@mixin LatoRegular{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 400;
	}
}
@mixin borderradius($size){
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size;
}
@mixin borderbox{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin boxshadow($x, $y, $blur, $color){
	-moz-box-shadow:$x $y $blur $color;
	-webkit-box-shadow: $x $y $blur $color;
	box-shadow:$x $y $blur $color;
}
@mixin transition($this: all, $sec: 0.30s, $ease: ease){
	-webkit-transition: $this $sec $ease;
  -moz-transition: $this $sec $ease;
  -ms-transition: $this $sec $ease;
  -o-transition: $this $sec $ease;
	transition: $this $sec $ease;
}
@mixin gradient($col1, $col2){
	// Ultimate CSS Gradient Generator http://www.colorzilla.com/gradient-editor/
	background: $col1; // Old browsers 
	background: -moz-linear-gradient(top, $col1 0%, $col2 100%); // FF3.6+ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$col1), color-stop(100%,$col2)); // Chrome,Safari4+ 
	background: -webkit-linear-gradient(top, $col1 0%,$col2 100%); // Chrome10+,Safari5.1+ 
	background: -o-linear-gradient(top, $col1 0%,$col2 100%); // Opera 11.10+ 
	background: -ms-linear-gradient(top, $col1 0%,$col2 100%); // IE10+ 
	background: linear-gradient(to bottom, $col1 0%,$col2 100%); // W3C 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=0 ); // IE6-9 
}
	
// Colors 
$purple: #352a38;
$yellow: #ffe147;
$blue: #97CBE8;
$dkblue: #384851;
$offwhite: #eee;
$gold: #eab32c;

// Font Sizes
$pxfontsize: 14px;
$pxlineheight: 21px;
@function em($px, $base: $pxfontsize) { // Default should be the font size we want
	@return ($px / $base) * 1em;
}
@function lineheight($rows, $base: $pxlineheight) {
	@return em($rows*$pxlineheight, $base);
}
$emfontsize: em($pxfontsize,16px); // Requires the browser default 16px as a base
$emlineheight: em($pxlineheight);

// Basic Styles
body{
	@include LatoLight;
	font-size: $emfontsize; // Font size default
	line-height: $emlineheight; // Line height defult
}
p, ul, ol, dl{ 
	padding-bottom: $emlineheight; 
}
table, blockquote{
	margin-bottom: $emlineheight;
}
a{
	color: lighten($purple,30%);
	text-decoration: none;
	border-bottom: 1px solid lighten($purple,30%);
	&:hover{
		color: $gold;
		border-bottom-color: $gold;
	}
}
figure a{ border: none; }
img{
	max-width: 100%;
}
ul.padding{
	padding-left: $emfontsize*2;
}

// Headers
h1, h2, h3{
	@include DosisLight;
}
h1{ // 37px recommended
	font-size: em(37px);
	line-height: lineheight(2,37px);
}
h2{ // 23px recommended
	display: block;
	font-size: em(23px);
	line-height: lineheight(2,23px);
}
h3{ // 18px recommended
	color: $gold;
	display: block;
	font-size: em(18px);
	line-height: lineheight(1,18px);
}
h4, h5, h6{ 
	font-size: 1em; 
	font-weight: 400;
}
h5{
	color: darken($blue,10%);
	span{
		color: #666;
		display: block;
	}
}

// Nav
.masthead nav.h-nav{
	ul{
		list-style: none;
	}
	li{
		float: left;
	}
	a{
		display: block;
		padding: $emlineheight/2 $emfontsize;
		margin-right: 1px;
	}
}
@media (min-width: $tablet_p) {
	.masthead nav.h-nav{
		position: absolute;
		right: 0;
		bottom: 0;
		ul{
			float: right;
			padding-bottom: 0;
		}
		a{
			&:hover{
				background-color: rgba(255,255,255,.2);
			}
		}
	}
}

// Page stuff
.work-mobile, .work-photos, .work-photos img, .portfolio{
	padding-bottom: $emlineheight;
}

// Workspace Background
@media (min-width: $tablet_l){
	.workspace{
		background: url("http://placehold.it/1200x250") top center no-repeat;
		background-size: cover;
		height: $emlineheight*10;
		margin-bottom: $emlineheight;
	}
}

// Form stuff
form{
	ul{
		list-style: none;
	}
	li{
		margin-bottom: $emlineheight/2;
		&:last-child{ margin-bottom: 0; }
	}
}
input[type="text"], textarea{ 
	display: block;
	padding: $emlineheight/2 $emfontsize;
	width: 100%;
	@include transition(box-shadow, .25s, ease);
	&:focus{
		outline: none;
		border-color: $gold;
		@include boxshadow(0,0,5px,$gold);
	}
}
input[type="submit"], button{
	display: block;
	font-size: $emfontsize*1.5;
	padding: $emlineheight/2.5 $emfontsize/2.5; 
	width: 100%;
	font-weight: bold;
	color: #FFF;
	border: 1px solid $gold;
	@include gradient(lighten($gold,15%), $gold);
	&:hover{
		border-color: lighten($blue,10%);
		@include gradient($blue, lighten($blue,10%));
	}
}

textarea{
	height: $emlineheight*7.75;
}

// Generic classes
.floatleft{
	float: left;
	margin: 0 $emfontsize $emlineheight 0;
	max-width: 100%;
}
.floatright{
	float: right;
	margin: 0 0 $emlineheight $emfontsize; 
	max-width: 100%;
}

// Light/Dark Switch
.dark{
	background: $purple;
	color: #eee;
	a{
		color: $blue;
		border-bottom-color: $blue;
		&:hover{
			color: $gold;
			border-bottom-color: $gold;
		}
	}
}

.frame{
	padding-top: $emlineheight;
	padding-left: $emfontsize;
	padding-right: $emfontsize;
}
[class*='bit-'] {
	padding-right: $emfontsize*2;
}
@media (min-width: $desktop_s) {
	.frame{
		padding-left: 8%;
		padding-right: 8%;
	}
	.masthead nav.h-nav {
		padding-right: 11%;
	}
}
@import "_iefix";

.nopadding{
	padding: 0;
}