// Normalize and Fixes
@import "_normalize";
@import "_clearfix";

// Mixins
@mixin DosisLight {
	font: {
    family: 'Dosis', Arial, sans-serif;
    weight: 300;
  }
}
@mixin LatoLight{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 300;
	}
}
@mixin LatoRegular{
	font: {
		family: 'Lato', Arial, sans-serif;
		weight: 400;
	}
}
@mixin borderradius($size){
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size;
}
@mixin borderbox{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Colors 
$purple: #352a38;
$yellow: #ffe147;
$blue: #97CBE8;
$dkblue: #384851;
$offwhite: #eee;
$gold: #eab32c;

// Font Sizes
$pxfontsize: 14px;
$pxlineheight: 21px;
@function em($px, $base: $pxfontsize) { // Default should be the font size we want
	@return ($px / $base) * 1em;
}
@function lineheight($rows, $base: $pxlineheight) {
	@return em($rows*$pxlineheight, $base);
}
$emfontsize: em($pxfontsize,16px); // Requires the browser default 16px as a base
$emlineheight: em($pxlineheight);

// Basic Styles
body{
	@include LatoLight;
	font-size: $emfontsize; // Font size default
	line-height: $emlineheight; // Line height defult
}
p, ul, ol, dl{ 
	padding-bottom: $emlineheight; 
}
table, blockquote{
	margin-bottom: $emlineheight;
}
a{
	color: lighten($purple,30%);
	text-decoration: none;
	border-bottom: 1px solid lighten($purple,30%);
	&:hover{
		color: $gold;
		border-bottom-color: $gold;
	}
}
img{
	max-width: 100%;
}

#nav, #masthead, #content, #contact{
	margin: 0 3%;
}
@media screen and (min-width: 768px){
	#nav, #masthead, #content, #contact{
		margin: 0 5%;
	}
}

// Headers
h1, h2, h3{
	@include DosisLight;
}
h1{ // 37px recommended
	font-size: em(37px);
	line-height: lineheight(2,37px);
}
h2{ // 23px recommended
	display: block;
	font-size: em(23px);
	line-height: lineheight(2,23px);
}
h3{ // 18px recommended
	color: $gold;
	display: block;
	font-size: em(18px);
	line-height: lineheight(1,18px);
}
h4, h5, h6{ 
	font-size: 1em; 
	font-weight: 400;
}
h5{
	color: darken($blue,10%);
	span{
		color: #666;
		display: block;
	}
}

// Forms
button{
	background-color: $dkblue;
	border: none;
	padding: .5em 1em;
	color: $offwhite;
	font-weight: 400;
	&:hover{
		background-color: darken($blue,10%);
		color: #FFF;
	}
}

// Dark option
.dark-background{
	background: $purple;
	color: $offwhite;
	a{
		color: $blue;
		border-color: $blue;
		&:hover{
			color: $gold;
			border-color: $gold;
		}
	}
}

@import "_lemonade";
@import "_nav";
@import "_header";
@import "_portfolio";

//Footer
#container-footer{
	padding: 1em 0;
}

.tinytext{ // 11px recommended 
	font-size: em(11px);
	line-height: lineheight(1,11px);
}
@import "_print";
@import "_iefix";