<section id="resume" class="group">
	<header>
		<h3>Resume</h3>
	</header>

	<article class="experience">
		<h4>Work Experience</h4>
		<h5>UI Engineer, Umpqua Bank, <span>Hillsboro, OR: March 2014 - September 2014 (6 month contract)</span></h5>
		<p>Responsible for architecting, designing, developing and testing a highly scalable, customer facing, critical Internet Banking and Mobile application with minimal direction with a large UI team. Designed and developed mobile and web-based UI interfaces using HTML5, CSS3 (Sass), and Ember JavaScript framework under an Agile development cycle.</p>
		<h5>Web Designer & Developer, Morrisville State College, <span>Morrisville, NY: Dec. 2006 - Jan. 2014</span></h5>
		<p>Responsible for design, development, and maintenance for Morrisville State College top-tier and affiliate websites. Built several websites from the ground up on a small, two person team, from the initial planning stages with clients to building the front-end (HTML, CSS3, and JavaScript) and back-end development.</p>
		<p><a href="resume.html">Full resume &amp; work history</a></p>
	</article>

	<article class="skills">
		<h4>Skills</h4>
		<h5>Script &amp; Markup</h5>
		<ul>
			<li>HTML5</li>
			<li>CSS3, Sass, LESS</li>
			<li>Ember, jQuery, JavaScript</li>
			<li>ASP/VB.net, familiar with PHP</li>
			<li>SQL</li>
			<li>Git Source Control</li>
		</ul>
	
		<h5>Programs</h5>
		<ul>
			<li>Adobe Creative Suite 6 (Dreamweaver, Photoshop, Illustrator, InDesign)</li>
			<li>SourceTree</li>
			<li>Microsoft Office Suite 2010</li>
		</ul>
	
		<h5>Operating Systems</h5>
		<ul>
			<li>OSX, Windows 7, familiar with Linux</li>
		</ul>
	</article>

	<article class="education">
		<h4>Education</h4>
		<h5>B.A. Graphic Design, SUNY Oswego, <span>Oswego, NY: Aug. 2002 - May 2006</span></h5>
		<p>Minored in Computer Science</p>
	</article>
</section>