
<section id="portfolio" class="group">		
	<header>
		<h3>Portfolio</h3>
	</header>

	<article class="bit-3 thumbnails" ng-repeat="work in portfolio.work" ng-class="{'active':select.isSelected($index), 'bit-6':select.detailsOpen}">
		<h4>{{work.name}}</h4>
		<span picture-fill data-alt="{{work.name}}" ng-if="work.images.length">
		<a href ng-click="select.selectWork($index)">
		  <span pf-src="{{work.images[0]}}"></span>
		  <span pf-src="{{work.images[1]}}" data-media="(min-width: 480px) and (max-width: 768px)"></span>
		  <span pf-src="{{work.images[2]}}" data-media="(min-width: 1400px)"></span>
		  <noscript>
      	<img ng-src="{{work.images[0]}}" ng-alt="{{work.name}}">
		  </noscript>
		</a>
		</span>
		<div ng-if="portfolio.phone">
			<div ng-bind-html="work.description"></div>
			<a ng-href="{{work.url}}">{{work.url}}</a>
		</div>
	</article>
		
	<article class="frame work-details" ng-if="select.detailsOpen && !portfolio.phone">
		<div class="bit-3 work-text">
			<h3>{{portfolio.work[select.selectedWork].name}}</h3>
			<div ng-bind-html="portfolio.work[select.selectedWork].description"></div>
			<a ng-href="{{portfolio.work[select.selectedWork].url}}">{{portfolio.work[select.selectedWork].url}}</a>
		</div>
		<div class="bit-2-3">
			<img ng-src="{{portfolio.work[select.selectedWork].images[2]}}" ng-alt="{{portfolio.work[select.selectedWork].name}}">
		</div>
	</article>
			
</section>