<section id="resume" class="group">
	<header>
		<h3>Resume</h3>
	</header>

	<article class="experience">
		<h4>Work Experience</h4>
		
		<h5>UI Engineer, Airbnb, <span>Portland, OR: June 2018 - current</span></h5>
		<ul>
		  <li>Currently rebuilding a large section of the support tool from Redux to Apollo/GraphQL by collaborating with Project Managers, UI Designers, and UX Researchers</li>
		  <li>Responsible for maintaining and developing a support facing tool built on React with a mix of Redux and Apollo/GraphQL</li>
		  <li>Worked with UX research to develop an accessibility survey, to determine pain points and improve the experience for agents</li>
		  <li>Contributed to open source UI component library</li>
		</ul>
		
		<h5>Lead UI Developer, Nike (TEKSystems), <span>Beaverton, OR: September 2014 - May 2018 (contract)</span></h5>
		<ul>
		   <li>Developed a new internal digital asset management tool using Grunt, Angular.js, Bootstrap, SASS and HTML5</li>
		   <li>Previously completed and released an internal project tracking web application using Grunt, Marionette.js, SASS and HTML5</li>
		   <li>Responsible for building efficient, responsive, and accessible applications by collaborating with Business Analysts, UX/UI Designers, and Backend Engineers</li>
		   <li>Other responsibilities include enforcing brand and style guide requirements, participating in design and code reviews, finding and fixing performance issues, UI prototyping, and interviewing and training junior developers</li>
		</ul>
		
		<h5>UI Engineer, Umpqua Bank (TEKSystems), <span>Hillsboro, OR: March 2014 - September 2014 (6 month contract)</span></h5>

		<ul>
			<li>Responsible for designing, developing and testing a highly scalable, customer facing, critical Internet Banking and Mobile application with minimal direction with a large UI team</li>
			<li>Designed and developed mobile and web-based UI interfaces using HTML5, CSS3 (Sass), and Ember JavaScript framework</li>
			<li>Completed CSS styling and layout of pages produced by development team while maintaining browser and device compatibility</li>
			<li>Developed JavaScript to interact with industry standard libraries for rich client interactions on the desktop, mobile web and mobile hybrid app</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Documented program development, logic, coding, and corrections using Stash and Git under an Agile development cycle</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Worked collaboratively and consulted with QA engineers & 3rd Party engineers through participation in the testing process and review of QA documentation during the document planning and design stage</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Followed and implemented accessibility compliance standards and bank regulation procedures</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Coordinated with product strategies, project teams, IT cross functional groups as well as 3rd party vendors and affiliates</li>
		</ul>
		
		<h5>Web Designer & Developer, Morrisville State College, <span>Morrisville, NY: Dec. 2006 - Jan. 2014</span></h5>
		
		<ul>
			<li>Designed and developed several websites on a small, two person team</li>
			<li>Worked one-on-one with internal and external clients on their project objectives and requirements,  creating user diagrams and design boards to better understand the clients perspective</li>
			<li>Created wireframes, design artifacts, navigation diagrams and design comps to communicate the design direction to the client in the initial design phase</li>
			<li>Designed and developed responsive websites for both desktop and mobile devices by building custom CSS/Sass responsive grids, and used analytic data and BrowserStack to test across all major browsers and devices</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Worked closely with clients on usability concerns, using Google Analytics to analyze user data and conduct A/B testing, created surveys and responded to feedback. </li>
			<li ng-show="resumeDetails.show || portfolio.phone">Worked with multiple departments to ensure project requirements were met and branding was cohesive between print and web mediums (Network and System Admin, Graphic Design, Social Media, Public Relations)</li>
			<li ng-show="resumeDetails.show || portfolio.phone">Responsible for design and maintenance of 20+ top-tier and affiliated MSC websites</li>
		</ul>
		<span ng-show="resumeDetails.show || portfolio.phone">
			<h6>Major Projects & Accomplishments:</h6>
			<ul>
				<li>Received first place <a href="http://www.casetwo.org/services_and_programs/awards/accolades_awards_program/accolades_award_winners.html">2014 CASE award</a> for the MSC alumni website, a mobile-friendly responsive site built off of the Bootstrap framework with a custom CSS/LESS layout</li>
				<li>Designed and built the soon to launch MSC library website, a mobile-friendly responsive site with a minimalist responsive grid, a custom CSS/Sass layout, and jQuery/AJAX elements</li>
				<li>Lead a small team as project manager in the redesign of the Morrisville State College website</li>
				<li>Volunteered for college events and worked with multiple committees, becoming a member of the emergency communication response team and Chair of the Web Advisory Group</li>
				<li>Promoted in 2009, added responsibility for all Morrisville State College websites and affiliates</li>
			</ul>
			<h6>Secondary Responsibilities:</h6>
			<ul>
				<li>Designed and developed email templates for MailChimp and Fire Engine Red</li>
				<li>Worked on Social Media policies and assisted with social media accounts such as Facebook, Twitter and Instagram</li>
				<li>Researched, interfaced with and provided training for third-party web services such as Survey Monkey, MailChimp and Fire Engine Red</li>
				<li>Present major design and policy changes to college wide faculty and staff meetings</li>
				<li>Chair (5 years) of the Web Advisory Group, a committee of 10+ members from several departments, to discuss design changes and possible usability concerns through discussion and cognitive walkthroughs</li>
			</ul>
		</span>
		
		<button ng-hide="portfolio.phone" ng-click="resumeDetails.showDetails()">{{resumeDetails.showText}} full work summary</button>
	</article>

	<article class="skills">
		<h4>Skills</h4>
		<h5>Script &amp; Markup</h5>
		<ul>
			<li>React, Angular, Marionette/Backbone, Ember, Knockout, jQuery, JavaScript</li>
			<li>CSS, SASS, LESS</li>
			<li>HTML5</li>
		</ul>
	
		<h5>Programs</h5>
		<ul>
			<li>Adobe Creative Suite (Photoshop, Illustrator, InDesign)</li>
		</ul>
	
		<h5>Operating Systems</h5>
		<ul>
			<li>OSX, Windows, familiar with Linux</li>
		</ul>
	</article>

	<article class="education">
		<h4>Education</h4>
		<h5>B.A. Graphic Design, SUNY Oswego, <span>Oswego, NY: Aug. 2002 - May 2006</span></h5>
		<p>Minored in Computer Science</p>
	</article>
</section>