<section id="portfolio" class="group">		
	<header>
		<h3>Portfolio</h3>
	</header>
	
	<article class="bit-3 thumbnails" ng-repeat="work in portfolio.work" ng-class="{'active':portfolio.isSelected($index), 'bit-6':portfolio.detailsOpen}" -->
		<h4>{{work.name}}</h4>
		<span picture-fill data-alt="{{work.name}}" ng-if="work.images.length">
		<a href ng-click="portfolio.selectWork($index)">
		  <span pf-src="{{work.images[0]}}"></span>
		  <span pf-src="{{work.images[1]}}" data-media="(min-width: 480px) and (max-width: 768px)"></span>
		  <span pf-src="{{work.images[2]}}" data-media="(min-width: 1400px)"></span>
		  <noscript>
      	<img ng-src="{{work.images[0]}}" ng-alt="{{work.name}}">
		  </noscript>
		</a>
		</span>
		<div ng-if="site.phone">
			<div ng-bind-html="work.description"></div>
			<a ng-href="{{work.url}}">{{work.url}}</a>
		</div>
	</article>
	
	<article class="frame work-details" ng-if="portfolio.detailsOpen && !site.phone">
		<div class="bit-3 work-text">
			<h3>{{portfolio.selectedWork.name}}</h3>
			<div ng-bind-html="portfolio.selectedWork.description"></div>
			<a ng-href="{{portfolio.selectedWork.url}}">{{portfolio.selectedWork.url}}</a>
		</div>
		<div class="bit-2-3">
			<img ng-src="{{portfolio.selectedWork.images[2]}}" ng-alt="{{portfolio.selectedWork.name}}">
		</div>
	</article>
			
</section>